@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  background: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.weather {
  display: flex;
  width: 100%;

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 565px;
    padding: 45px;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__temperature {
        font-weight: 500;
        letter-spacing: -30px;
        font-size: 288px;
      }

      &__region {
        font-weight: 500;
        font-size: 64px;
        letter-spacing: 0.055em;
        text-align: center;
      }

      &__date {
        font-weight: 500;
        font-size: 48px;
        letter-spacing: 0.055em;

        & span {
          color: #525252;
          font-size: 40px;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fefbff;
    padding: 55px;

    &-title {
      font-weight: 500;
      font-size: 48px;
      margin-bottom: 50px;
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__logo {
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 0.055em;
    background: linear-gradient(90deg, #ea9e2c -32.79%, #2871df 130.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
  }
}

.form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 400px;

  & input[type='submit'] {
    background: linear-gradient(90deg, #ea9e2c -32.79%, #2871df 130.19%);
    color: #fff;
    padding: 0 30px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(90deg, #4dc8ee -32.79%, #df2893 130.19%);
    }
  }

  & > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
  }

  input[type='search'] {
    flex-basis: 500px;
  }
}

@media (max-width: 1910px) {
  .content {
    display: none !important;
  }

  .weather {
    height: 100%;

    .sidebar {
      width: 100%;
    }
  }
}

@import './components/Card.scss';
